{% extends "layout.html" %}
{% block allcontent %}
  <div class="profile-container">
    <!-- <img src="roro.jpeg" alt="Profile Picture" class="profile-picture"> -->
    <img src="{{url_for('static', filename='images/roro.jpeg')}}" class="profile-picture">
    <div class="info">
      <h1>{{user[1]}} {{user[2]}}</h1>
      <h3>class of : {{user[8]}}</h3>
      <p>{{user[5]}}</p>
      <p>{{user[7]}}</p>
      <p>{{user[5]}}</p>
      <!-- <ul class="contact">
        <li><a href="mailto:johndoe@example.com">{{user[7]}}</a></li><br>
        <li><a href="https://www.facebook.com/johndoe">{{user[5]}}</a></li>
      </ul> -->
      <a href="{{ url_for('edit_profile', email=user[0]) }}" class="edit-button">Edit Profile</a>
    </div>
  </div>
{% endblock %}
